*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    // border:1px dashed red;


}
html{
    
    font-size: calc(0.5em + 0.5vmin);
}
body{
    width: 100%;
    height: max-content;
    background-color: black;
    overflow: none;
}


@font-face{
    font-family: 'hyperspace';
    src: url(assets/fonts/hyperspace/Hyperspace.otf) format('opentype');
    font-display: swap;
}
@font-face{
    font-family: 'Trispace';
    src: url(assets/fonts/Trispace/Trispace-VariableFont_wdth\,wght.ttf) format('TrueType');
    font-display: swap;
}

// Setting Up the Gird 

.container-parent{
   display: grid; 
   grid-template-columns: minmax(5%,18%) minmax(200px,1fr) minmax(5%,18%);
   grid-template-rows: 100%;
   grid-template-columns: "left-column""center-column""right-column";

   height:100%;
}
  
// Grid container for the Arcade
.container-arcade {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20vh 70vh 10vh;
    gap: 0px 0px;
    grid-template-areas:
      "panel-top panel-top panel-top panel-top panel-top"
      "panel-center panel-center panel-center panel-center panel-center"
      "panel-console panel-console panel-console panel-console panel-console"
    //   "panel-bottom panel-bottom panel-bottom panel-bottom panel-bottom";
}

.panel-top { grid-area: panel-top; }

.panel-center { grid-area: panel-center; }

.panel-console { grid-area: panel-console; margin-top:0.5rem}

.panel-bottom { grid-area: panel-bottom; }




.panel-left,.panel-right{
    width: 100%;
    height:100vh;
    background-color: black;
}


.panel-top{
    height: auto;
    background-image: url(assets/graphics/asteroids-artwork-top-panel-replaced.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size:clamp(50%,70%,70%);
    background-color: black;
    
}
.panel-left{
    
    background-image: url(assets/graphics/asteroids-artwork-left-side-panel-optimised.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.panel-right{
    background-image: url(assets/graphics/asteroids-artwork-right-side-panel-optimised.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.container-game{
    display: block;
    position: relative;
    width: 100%;
    height:100%;
   
}
.gameLayer{
    height: 100%;
    #gameCanvas{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0px 3px 6px 0px #2f2e2e, 0px 3px 4px 1px #7b7b7b;
        border-radius: 20px;
    }
}
.container-score{
    position: relative;
    top: 1rem;
    z-index: 1;
    height: 0;
    color: gold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-family: 'hyperspace';
    font-size: 2rem;
    font-weight: 600;
    padding-left: 2rem;
    padding-right: 1rem;
    >p{
        display: inline-block;
    }
}

.container-guide {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Trispace';
    color: gold;
        .guide-howToPlay {
        width: 42.5%;
        border-right: 2px dashed gray;
        padding: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto;
        }
        .guide-controls {
        width: 33%;
        text-align: center;
    }
}
.js-output{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    color: gold;
    font-family: 'hyperspace';
   
    // Setting up Flex box
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;

    > .credits {
        color: gold;
        font-family: 'Trispace';
        width: fit-content;
        position: absolute;
        bottom:0;
        right:1%;
    }
    &.hide{
        display: none;
    }



    .highScoresDisplay {
        margin: 10rem 0 0 4rem;
        width: auto;
        font-size: 3rem;
        list-style-position: outside;
        background-color: #0b0b0b33;

        .highScoresTable{
            display: inline-block;
        }
    }

    .newHighScore{
        margin: auto;
        padding: 1rem;

    }
    .title-wrapper{
        margin:1rem 0;
    }
    >.form-input{
        width: 60%;
        height: 4rem;
        border: none;
        border-bottom: 4px solid gold;
        background-color: rgba(62,62,62,0.4);

        text-align: center;
        color: gold;
        letter-spacing: 0.3em;
        font-size: 2rem;
        cursor: text;
        :focus{
            
            cursor: text;
        }
    }
    
    >.form-wrapper .btnAddScore{
        width: auto;
    }
    button{
        height: 3rem;
        padding: 0 0.4rem;
        background: gold;
        border: none;
        border-radius: 8px;
        color: black;
        font-family: 'Trispace';
    }
    .btn-restart{
        width: 30%;
        height: 6rem;
        margin: auto;
    }
    .container-rotateButtons{
        position: relative;
        bottom: -33%;
        align-content: center;
        display: flex;
        // flex-wrap: wrap;
        // width: 50%;

        .btn-rotateLeft,.btn-rotateRight{
            // margin-right: 20px;
            width:25%;
            height:auto;
            color: gold;
            background-color:rgba(108, 105, 88, 0.31);
            font-size: xx-large;
            font-weight: 800;
            box-shadow: 1px 3px #9D9D9D8A, 4px 5px #131313
        }
        .btn-rotateLeft{
            // border-radius: 50% 0 0 50%;
            // transform: skewX(-11deg);
            // margin-right: 2rem;
        }
        .btn-rotateRight{
            // border-radius: 0 50% 50% 0;
            // transform: skewX(11deg);
            // margin-left: 2rem;
        }
        .btn-rotateLeft::before{
            content: '\21B6' ;

        }
        .btn-rotateRight::before{
            content: '\21B7' ;
        }
        .btn-column{
            display: flex;
            flex-direction: column;
            width: 60vw;
        }
        .btn-thrust,.btn-laser{
            height: 6rem;
            margin: 1rem;
            box-shadow: 1px 3px #9D9D9D8A, 4px 5px #131313;
            background: #ffd700a3;
        }
        .btn-thrust{
            // clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);

        }
        .btn-thrust::before{
            content:"Thrust"
        }
        .btn-laser{
            // clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);

        }
        .btn-laser::before{
            content: "Fire";
        }
        
    }
}

.break-row{
    flex-basis: 100%;
    height: 0;
}
.container-controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-right: 2px dashed gray;
    width: 15%;
    >.controls{
        width: max-content;
        font-size: 1.3em;
        border:solid #373777;
        border-width: 2px 4px 9px;
        text-align: center;
        vertical-align: middle;
        padding: 0 5px;
        
    }
}
.container-iconography{
    width: 42.5%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    
    .icon-wrapper{
        width: min-content;
        text-align: center;
    }
    .icon-largeAsteroid {
        width: 7rem;
        height: 5rem;
    }
    .icon-mediumAsteroid {
        width: 7rem;
        height: 4rem;
    }
    .icon-smallAsteroid {
        width: 3rem;
        height: 4rem;
        transform: rotate(70deg);
    }
}

@media screen and (max-width:800px){
    html{
        font-size: calc(0.5em + 0.25vmin);
    }
    .container-parent {
        display: block;
    }
    .panel-top,.panel-right,.panel-left,.panel-bottom,.panel-console{
        display: none;
    }
    .container-game{
        position: absolute;
        top:0;
    }
    .panel-console{
        width: 100%;
        height: 100vh;
    }
    .js-output.newHighScore{
        width: 45%;
    }
}